.title {
  color: $color-text;
  font-weight: 500;

  &_1 {
    font-size: 68px;
    letter-spacing: 4.8px;
    line-height: 68px;
  }
  &_2 {
    font-size: 40px;
    letter-spacing: 3.2px;
    line-height: 52px;
  }
  &_3 {
    letter-spacing: 2.24px;
    font-size: 28px;
    line-height: 40px;
  }
  &_4 {
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 28px;
  }
  &_5 {
    font-size: 14px;
    letter-spacing: 1.4px;
    line-height: 22px;
  }
}

.text {
  font-weight: 300;
  &_1 {
    font-size: 18px;
    line-height: 24px;
  }
  &_2 {
    font-size: 14px;
    line-height: 16px;
  }
}
